body {
  font-family: 'Rubik', sans-serif;
  /* background-image: url('public/stuffed-dragon.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  text-shadow: 2px 2px 2px white, -2px -2px 2px white;
}

header h1 {
  font-family: 'Creepster', cursive;
  font-size: 3rem;
}
header a {
  display: inline-block;
  transition: 0.25s;
}
header a:hover {
  transform: translate(-1px, 1px);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding-right: 10px;
}
nav a {
  text-decoration: none;
}
nav a:visited {
  color: black;
}

#cards {
  display: flex;
  flex-wrap: wrap;
}
.card {
  border: 1px solid black;
  width: 200px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px grey;
  padding: 10px;
  margin: 10px;
  background-color: rgba(256, 256, 256, 0.6);
}
main {
  min-height: 50vh;
}
.main-add {
  width: 340px;
  margin: 0 auto;
  background-color: rgba(256, 256, 256, 0.6);
  border-radius: 5px;
  padding: 5px;
}
.main-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin: 0 auto; */
  background-color: rgba(256, 256, 256, 0.6);
  border-radius: 5px;
  padding: 5px;
}
main #delete-button {
  background-color: red;
  border: none;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  width: 320px;
  text-shadow: none;
}
#main-questions {
  margin-left: 30px;
}
form {
  display: flex;
  flex-direction: column;
}
form button {
  background-color: rgba(173, 66, 244, 0.5);
  border: none;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  width: 320px;
}

input[type='text'] {
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 15px;
  width: 300px;
}
.button:hover {
  transform: translate(1px, 1px);
}

footer {
  border-top: 1px solid black;
  margin-top: 15px;
}
footer ul {
  display: flex;
  justify-content: center;
}
ul li {
  list-style: none;
  padding-right: 20px;
}
.footer-link {
  text-decoration: none;
}
